click==8.1.7
pydantic==2.8.2
datasets==2.21.0
python-dotenv==1.0.1
pillow==10.4.0
pydub==0.25.1
pdf2image==1.17.0
openai==1.42.0
colorlog==6.8.2
python-json-logger==2.0.7
tqdm==4.66.5
huggingface-hub==0.24.6
rich==13.8.0
